@page "/portfolio"

@using System.Text.Json;

@inject FinPlanner.Portfolio portfolio;

<PageTitle>Portfolio</PageTitle>

<h1>Portfolio</h1>

<InputFile OnChange="LoadFile" MaxFileSize="5000000"/>

<button class="btn btn-primary" @onclick="Save">Save file</button>

<!-- Make accounts accessible to this page -->

@code {

    // Read data
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using var stream = file.OpenReadStream(maxAllowedSize: 5_000_000);  // 5 MB
        using var reader = new StreamReader(stream, System.Text.Encoding.UTF8, detectEncodingFromByteOrderMarks: true);

        string json = await reader.ReadToEndAsync();

        var data = JsonSerializer.Deserialize<FinPlanner.Portfolio>(json);

        foreach (Account account in data.Accounts)
        {
            portfolio.AddAccount(account.Name, account.Balance);
        }

        portfolio.Year = data.Year;

    }

    // Save data
    private async Task Save()
    {

        //await SaveFileAsync("output.txt", uploadedBytes);

    }

    @inject IJSRuntime JS

    private async Task SaveFileAsync(string filename, byte[] data)
    {
        var base64 = Convert.ToBase64String(data);
        var url = $"data:application/octet-stream;base64,{base64}";

        await JS.InvokeVoidAsync("eval", $@"
        var a = document.createElement('a');
        a.href = '{url}';
        a.download = '{filename}';
        a.click();
    ");
    }
}
